{
    "openapi": "3.0.0",
    "info": {
        "version": "1.0.0",
        "title": "WU_API",
        "description": "This is a API for WhatsUp 24/7",
        "contact": {
            "name": "WhatsUp 24/7 Support",
            "email": "support@whatsup237.com"
        },
        "license": {
            "name": "MIT"
        }
    },
    "servers": [
        {
            "url": "https://api.whatsup247.com/v1"
        }
	],
	"tags": [
		{
			"name": "events",
			"description": "Event calls"
		},
		{
			"name": "organizations",
			"description": "Organization calls"
		},
		{
			"name": "destinations",
			"description": "Destination calls"
		}
	],
    "paths": {
		"/event/{id}": {
			"get": {
				"summary": "Request a specific event",
				"operationId": "getEvent",
				"tags": [
					"events"
				],
				"parameters": [
					{
						"name": "id",
                        "in": "path",
						"description": "ID of the event",
						"required": true,
                        "schema": {
                            "type": "string",
                            "example": "5e6cc6f7e9fa934c2a96e46b829171f6"
                        }
					}
				],
				"responses": {
					"200": {
						"description": "Event Details",
						"content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Events"
                                }
                            }
                        }
					},
					"405": {
						"description": "Event does not exist"
					},
					"default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
				}
			}
		},
		"/events": {
			"get": {
				"summary": "Request a list of events",
				"operationId": "listEvents",
				"tags": [
					"events"
				],
				"parameters": [
					{
						"name": "zip",
						"in": "query",
						"description": "Area Zip Code",
						"required": true,
						"schema": {
							"type": "string",
							"example": "46001"
                        }
					},
					{
						"name": "distance",
						"in": "query",
						"description": "Radius around zip code in miles",
						"schema": {
							"type": "integer",
							"default": 30
						}
					},
					{
						"name": "dateFrom",
						"in": "query",
						"description": "Date the list of events starts from",
						"schema": {
							"type": "string",
							"example": "YYYY-MM-DD",
							"default": "Current Date"
						}
					},
					{
						"name": "categories",
						"in": "query",
						"description": "Categories to filter the list of events separated by a semicolon",
						"schema": {
							"type": "string",
							"example": "13;4;9"
						}
					},
					{
						"name": "limit",
						"in": "query",
						"description": "The number of events to return at a time",
						"schema": {
							"type": "integer",
							"default": 20
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Page number for returning events",
						"schema": {
							"type": "integer",
							"example": 1
						}
					},
					{
						"name": "search",
						"in": "query",
						"description": "Search query term",
						"schema": {
							"type": "string",
							"example": "organization"
						}
					}
				],
				"responses": {
					"200": {
						"description": "List of Events",
						"content": {
                            "application/json": {
                                "schema": {
									"type": "array",
                                    "$ref": "#/components/schemas/Events"
                                }
                            }
                        }
					},
					"500": {
						"description": "Invalid Zip Code"
					},
					"default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
				}
			}
		},
		"/organization/{id}": {
			"get": {
				"summary": "Get specific organization",
				"operationId": "getOrganization",
				"tags": [
					"organizations"
				],
				"parameters": [
					{
						"name": "id",
                        "in": "path",
						"description": "ID of the organization",
						"required": true,
                        "schema": {
                            "type": "string",
                            "example": "5e6cc6f7e9fa934c2a96e46b829171f6"
                        }
					}
				],
				"responses": {
					"200": {
						"description": "Organization Details",
						"content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Organizations"
                                }
                            }
                        }
					},
					"405": {
						"description": "Organization does not exist"
					},
					"default": {
                        "description": "unexpected error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Error"
                                }
                            }
                        }
                    }
				}
			}
		}
    },
    "components": {
        "schemas": {
			"Events": {
				"type": "object",
				"required": [
					"id",
					"name",
					"zip"
				],
				"properties": {
					"id": {
                        "type": "string",
						"example": "5e6cc6f7e9fa934c2a96e46b829171f6"
                    },
					"parent": {
                        "type": "string",
						"example": "5e6cc6f7e9fa934c2a96e46b829171f7"
                    },
                    "name": {
						"type": "string",
						"example": "Join WhatsUp 24/7"
					},
					"description": {
						"type": "string",
						"example": "This is a description to describe the event"
					},
					"content": {
						"type": "string",
						"example": "<p>This field actually returns HTML content</p>"
					},
					"start": {
						"type": "string",
						"example": "2020-12-31 13:30:00"
					},
					"end": {
						"type": "string",
						"example": "2020-12-31 13:30:00"
					},
					"local_timezone": {
						"type": "string",
						"example": "EST"
					},
					"location": {
						"type": "string",
						"example": "Community Center"
					},
					"address": {
						"type": "string",
						"example": "207 S Test Drive"
					},
					"city": {
						"type": "string",
						"example": "Alexandria"
					},
					"state": {
						"type": "string",
						"example": "IN"
					},
					"zip": {
						"type": "string",
						"example": "46001"
					},
					"contact_name": {
						"type": "string",
						"example": "John Smith"
					},
					"contact_phone": {
						"type": "number",
						"format": "phone",
						"example": "000-000-0000"
					},
					"contact_email": {
						"type": "string",
						"format": "email",
						"example": "join@whatsup247.com"
					},
					"website": {
						"type": "string",
						"format": "url",
						"example": "https://www.whatsup247.com"
					},
					"fee_details": {
						"type": "string",
						"example": "Simple description about the pricing details of the event"
					},
					"flyer": {
						"type": "string",
						"format": "url",
						"example": "https://www.whatsup247.com/flyer/myflyer.pdf"
					},
					"image": {
						"type": "string",
						"format": "url",
						"example": "https://www.whatsup247.com/img/myimage.jpg"
					}
				}
			},
            "Organizations": {
				"type": "object",
				"required": [
					"id",
					"name",
					"email",
					"zip"
				],
				"properties": {
					"id": {
                        "type": "string",
                        "example": "5e6cc6f7e9fa934c2a96e46b829171f6"
                    },
                    "name": {
						"type": "string",
						"example": "WhatsUp 24/7, Inc"
					},
					"description": {
						"type": "string",
						"example": "WhatsUp 24/7 is a community development platform"
					},
					"email": {
						"type": "string",
						"format": "email",
						"example": "join@whatsup247.com"
					},
					"contact_name": {
						"type": "string",
						"example": "John Smith"
					},
					"contact_phone": {
						"type": "number",
						"format": "phone",
						"example": "000-000-0000"
					},
					"location": {
						"type": "string",
						"example": "Community Center"
					},
					"address": {
						"type": "string",
						"example": "207 S Test Drive"
					},
					"city": {
						"type": "string",
						"example": "Alexandria"
					},
					"state": {
						"type": "string",
						"example": "IN"
					},
					"zip": {
						"type": "string",
						"example": "46001"
					},
					"website": {
						"type": "string",
						"format": "url",
						"example": "https://www.whatsup247.com"
					},
					"logo": {
						"type": "string",
						"format": "url",
						"example": "https://www.whatsup247.com/img/mylogo.jpg"
					},
					"image": {
						"type": "string",
						"format": "url",
						"example": "https://www.whatsup247.com/img/myimage.jpg"
					}
				}
			},
            "Error": {
                "type": "object",
                "required": [
                    "code",
                    "message"
                ],
                "properties": {
                    "code": {
                        "type": "integer",
                        "format": "int32"
                    },
                    "message": {
                        "type": "string"
                    }
                }
            }
        }
    }
}